ion-content{
  display:flex;
  align-items: center;
}
.titulo{
  text-align: center;
  font-family: cursive;
}
.titulo_cal{
  text-align: center;
  font-family: cursive;
  font-size: 30px;
}

.contenedor{
  margin: 30% 10%;
  background-color: rgb(66, 62, 62);
  border-radius: 10%;
}
.btn{
  font-size: 25px;
  background-color: rgb(55, 57, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-right: 2px;
  margin-bottom: 2px;
  border: 2px solid rgb(130, 137, 135);
  border-radius: 20px;
}
.display{
  justify-content: flex-end;
  padding-right: 5%;
  font-size: 35px;
  background-color: rgb(122, 115, 115);
  border: 4px solid rgb(186, 188, 188);
}